@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900');
body {font-family:  'Roboto', sans-serif; font-size:13px;color:#333;background-color:#f6f6f6;min-width:680px;}
input::-ms-clear {display: none;}
html {-ms-overflow-style: scrollbar;}
/*for autofilled yellow color bg*/
input, input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {transition: background-color 5000s ease-in-out 0s;} 
img{border:none;}
a:focus, .btn:focus, a:hover, a:focus, button:focus {text-decoration: none;outline: none !important;}
a.text-white:hover, a.text-white:focus, a.text-white:visited{color:#fff;}
/*.panel, .alert, .label, .panel-heading, .panel-footer, .form-control, .input-group-addon, .panel.panel-default, .table th, .thumbnail{border-radius: 0}*/
.form-control:focus{box-shadow:none !important;}
textarea{resize:none;}
.radius-100{border-radius: 100px;}
.top-buffer-50{margin-top:50px;}
.no-padding-bottom{padding-bottom: 0 !important;}
.top-buffer-60{margin-top:60px;}
.top-bottom-buffer-40{margin-top:40px;margin-bottom:40px;}
.max-height-65{height:65px;}
hr{border-top:2px solid #eeeeee;clear:both;padding-top:5px;}
.text-thin{font-weight:300}
.lh-25{line-height:25px;}
.img-60{width:60px;border:2px solid #ccc;border-radius:100px;}
.no-padding-lr{padding-left:0;padding-right:0;}
.hide-scroll{overflow: hidden;/*padding-right:17px;*/}
.ln-20{line-height:20px !important;}
.ln-48{line-height:48px;}
.border-color-ddd{border-color:#ddd;}
.left-buffer-5{margin-left:5px;}
.border-right-ddd{border-right:1px solid #ddd;}
.border-left-ddd{border-left:1px solid #ddd;}
.border-bottom-ddd{border-bottom:1px solid #ddd;}
.border-top-ddd{border-top:1px solid #ddd;}
.border-bottom-eee{border-bottom:1px solid #eee;}
.border-r-l-b-ddd{border-right:1px solid #ddd;border-left:1px solid #ddd;border-bottom:1px solid #ddd;}
.padding-bottom-10{padding-bottom:10px;}
.padding-bottom-15{padding-bottom:15px;}
.top-bottom-buffer-5{margin-top:5px;margin-bottom:5px;}
.top-buffer-3{margin-top:3px;}
.top-buffer-2{margin-top:2px;}
.top-buffer-60{margin-top:60px;}
.top-buffer-25{margin-top:25px;}
.xs-show{display:none;}
.x-scroll{max-width:100%;overflow-x:auto;}
.table-ellipsis td{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 0;} 
.disabled-click{pointer-events:none;} 
.disabled-cursor{cursor: not-allowed !important;pointer-events:auto !important;}
.disabled-cursor.k-state-disabled{cursor: not-allowed !important;pointer-events:auto !important;}
.top-bottom-buffer-30{margin-bottom:30px;margin-top:30px;}
.padding-top-bottom-10{padding-top:10px;padding-bottom:10px;}
.padding-top-bottom-30{padding-top:30px;padding-bottom:30px;}
.top-buffer-offset-3{margin-top:-3px;}
.text-red{color:#ff0000} 
textarea.form-control{min-height:80px; }
.panel tr:nth-child(even) {background-color: #eee}
.panel tr:nth-child(odd) {background-color: #FFF}
.panel table thead tr{background-color:#e1e1e1!important}
.btn:active, .btn.active, .btn:focus{box-shadow:none}
.no-margin{margin:0 !important;}
.no-margin-top{margin-top:0 !important;}
.top-buffer-5{margin-top:5px !important;}
.top-buffer-20{margin-top:20px !important;}
.top-buffer-15{margin-top:15px;}
.top-buffer-30{margin-top:30px;}
.top-buffer-33{margin-top:33px;}
.top-buffer-40{margin-top:40px;}
.top-buffer-10{margin-top:10px !important;}
.top-buffer-8{margin-top:8px;}
.top-bottom-buffer-10{margin-top:10px;margin-bottom:10px;}
.top-bottom-buffer-15{margin-top:15px;margin-bottom:15px;}
.bottom-buffer-5{margin-bottom:5px !important;}
.bottom-buffer-10{margin-bottom:10px;}
.bottom-buffer-15{margin-bottom:15px !important;}
.bottom-buffer-24{margin-bottom:24px;}
.bottom-buffer-20{margin-bottom:20px !important;}
.bottom-buffer-50{margin-bottom:50px;}
.bottom-buffer-30{margin-bottom:30px !important;}
.border-right{border-right:1px solid #d9d9d9;}
.no-padding{padding:0 !important;}
.thumbnail{padding:0;margin-bottom:0}
.font-10{font-size:10px;}
.font-11{font-size:11px;}
.font-12{font-size:12px;}
.font-13{font-size:13px !important;}
.font-14{font-size:14px !important;}
.font-16{font-size:16px !important;}
.font-18{font-size:18px;}
.font-20{font-size:20px !important;}
.font-24{font-size:24px !important;}
.font-30{font-size:30px;}
padding-top-15{padding-top:15px;}
.padding-top-20{padding-top:20px;}
.padding-top-10{padding-top:10px !important;}
.padding-top-55{padding-top:55px;}
.padding-bottom-20{padding-bottom:20px !important} 
.left-buffer-40{margin-left:40px;}
.left-buffer-5-xs{margin-left:5px;}
.img-36{height:36px;border-radius:100px;border: 1px solid #eee;}
/*.mgt-img{border-color:#d0ed66;}*/
.img-48{height:48px;}
.img-110{height:110px;}
.bg-eee{background-color:#eee}
.bg-f5{background-color:#f5f5f5}
.bg-fff{background-color:#fff}
.font-72{font-size:72px;}
.no-bg-img{background-image:none !important;}
.no-border{border:none !important;}
.border-ddd{border:1px solid #ddd} 
.max-height-65{max-height:65px !important;}
.text-fff{color:#fff;}
.asterisk:after{content: '*';color: red;position: absolute;right: 6px;top: 5px;}
.right-buffer-30{margin-right:30px;}
.right-buffer-15{margin-right:15px;}
.right-buffer-20{margin-right:20px;}
.right-buffer-10{margin-right:10px;}
.right-buffer-5{margin-right:5px;}
.full-width{width:100% !important;}
.text-bold-lt{font-weight:300;}
.text-bold-md{font-weight:500;}
.text-bold-ex{font-weight:700;}
.text-left{text-align:left !important;}
.padding-5{padding:5px 8px !important;}
.pull-right-xs{float:right;}
.pull-right-cu{float:right;}
.pull-left-xs{float:left;}
.pull-left-cu{float:left;}
.bottom-buffer-2{margin-bottom:2px !important;}
.left-buffer-20 {margin-left:20px !important;} 
.left-buffer-10 {margin-left:10px !important;} 
.padding-left-10{padding-left:10px !important;}
.text-999{color:#999}
.text-sec-primary{color:#264359}
.label-danger{background-color:#e13030;border-radius:3px;}

.alert-sm{padding:8px;margin-bottom:8px;}

.not-visible{display:none;}/*did purposely for display none without !important*/

.table-sm td, .table-sm th{padding:4px 6px !important;}
.input-xs { height: 22px;padding: 1px 2px;font-size: 12px;border-radius: 3px;}


/*change theme (primary color change)*/
.btn-primary {background-color: #264359;border-color: #264359;}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
background-color: #172d3d;border-color: #172d3d;color:#fff;}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {background-color: #264359;border-color: #264359;}
/*.btn-primary:hover{background-color:#264359;border-color:#264359}*/
.btn-primary.active,.btn-primary:active,.open>.dropdown-toggle.btn-primary{color:#fff;background-color:#264359;border-color:#264359}
.btn-primary.active.focus,.btn-primary.active:focus,.btn-primary.active:hover,.btn-primary:active.focus,.btn-primary:active:focus,.btn-primary:active:hover,.open>.dropdown-toggle.btn-primary.focus,.open>.dropdown-toggle.btn-primary:focus,.open>.dropdown-toggle.btn-primary:hover{color:#fff;background-color:#264359;border-color:#264359}
.btn-link{color: #264359;}
a, a:hover, a:focus{color:#264359;}
a.text-primary:hover {color: #264359;}
.bg-primary {background-color: #264359 !important;}
a.bg-primary:hover, a.bg-primary:foucs {background-color:#264359;}
.label-primary{background-color: #264359}
.label-primary[href]:hover, .label-primary[href]:focus {background-color: #264359;color:white}
.panel-primary {border-color: #004179;}
.panel-primary > .panel-heading {background-color: #264359;border-color: #004179;}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {border-top-color: #004179;}
.panel-primary > .panel-heading .badge {color: #264359;}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {border-bottom-color: #004179;}
.text-primary, .text-primary:hover, .text-primary:focus{color: #264359;}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{background-color:#264359;border-color:#004179;}
/*change theme (primary color change) end*/

.text-888{color:#888}
.text-aaa{color:#aaa}
.max-full-width{max-width:100%;}
.btn-md{line-height: 20px;    padding-top: 10px;    padding-bottom: 8px;}
.fixed {position: fixed;}
.top-buffer-70{margin-top:70px;}
.btn-outline{border:1px solid #ccc;color:#666666;}
.btn-outline.white{border:1px solid #fff;color:#fff;}
.btn-outline:hover, .btn-outline:focus{color:#264359;border-color:#264359}
.no-margin-bottom{margin-bottom:0 !important;}
.danger-border {border-color: #a94442 !important;}
.primary-border{border-color:#264359 !important;transition: all 0.3s ease-out 0s;}
.border-success{border-color:#488729 !important;}
.padding-left-140{padding-right: 140px !important;}
.btn-fb, .btn-fb:focus, .btn-fb:hover{background-color:#3b5999;border-color:#3b5999;font-size:13px;color:#fff;}
.btn-google, .btn-google:focus, .btn-google:hover{background-color:#dd4b3e;border-color:#dd4b3e;font-size:13px;color:#fff;}
.tooltip {font-size:11px;}
.letter-sp-10{letter-spacing:10px;}


/*custom checkboox & radio */
.control {display: block;position: relative;padding-left: 18px;margin-bottom: 18px;cursor: pointer;/*font-size: 18px;*/ line-height:24px;}
.control input {position: absolute;z-index: -1;opacity: 0;}
.control-indicator {position: absolute;top: 0px;left: 0;height: 16px;width: 16px;background: #fff;border:1px solid #ccc;z-index:1}
.control:hover input ~ .control-indicator, .control input:focus ~ .control-indicator {background-color:#eee;border-color:#aaa;}
.control:hover input:disabled ~ .control-indicator {background-color:#e6e6e6;border-color:#999;}
.control input:checked ~ .control-indicator , .control input:disabled:checked ~ .control-indicator {background: #264359;border-color:#264359;}
.control:hover input:not([disabled]):checked ~ .control-indicator {background: #264359;}
.control input:checked:focus ~ .control-indicator, .control input:checked:hover ~ .control-indicator {background-color:#264359;border-color: #264359;}
.control input:disabled ~ .control-indicator {background: #e6e6e6;opacity: 0.6;pointer-events: none;}
.control-indicator:after {content: '';position: absolute;display: none;}
.control input:checked ~ .control-indicator:after {display: block;}
.control-checkbox .control-indicator:after {left: 5px;top: 0px;width: 5px;height: 11px;border: solid #fff;border-width: 0 2px 2px 0;transform: rotate(45deg);}
.control-checkbox input:disabled ~ .control-indicator:after {border-color: #fff;}
.control-radio .control-indicator {border-radius: 200px;}
.control-radio .control-indicator:after {left: 4px;top:4px;height: 8px;width: 8px;border-radius: 200px;background: #fff;}
.control-radio input:disabled ~ .control-indicator:after {background: #fff;}
.checkbox-inline.control-checkbox, .radio-inline.control-radio{padding-top:3px;display:inline}
.checkbox-group .control{display: block;min-width: 160px;float: left;margin-bottom: 15px;}
.small-checkbox.control{padding-left:20px;}
.small-checkbox .control-indicator{width:13px;height:13px;}
.small-checkbox .control-indicator:after {left: 3px;width: 5px;height: 8px;}
.img-check{margin-bottom:0;padding:0;float:left;margin-right:10px;}
.img-check img{border:1px solid #ddd;}
/*.control.img-check input:focus ~ img, .control.img-check input:hover ~ img {opacity:.7}
.control.img-check input:checked ~ img {opacity:.5}
.control.img-check input:checked:focus ~ img, .control.img-check input:checked:hover ~ img{opacity:.6}*/
/*custom checkboox & radio end*/


/*New Contact From Design */ 
.new-form .form-group{border:1px solid #ddd;padding:15px;height:54px;position:relative;border-radius:3px;margin-bottom:20px;}
.new-form input[type="radio"], input[type="checkbox"]{margin-top:3px;}
.new-form .form-group .form-control {border: none;box-shadow: none !important;padding:25px 15px 15px 15px;z-index: 9;position:absolute;background-color: transparent;top:0;left:0;height:54px;}
.new-form .form-group label{font-weight:normal;font-size:13px;position:absolute;z-index:9;top:18px;transition: all 0.3s ease-out 0s;color:#666;}
.new-form .form-group label.top5{top:5px;font-size:11px;color:#aaa;}
.new-form .form-group.textarea-field{height:105px;}
.new-form .form-group.textarea-field textarea{resize:none;    margin-top: 20px; padding-top: 0;}
.new-form .form-group select.form-control{font-size:13px;width: calc(100% - 10px);top:-1px;padding-top:10px;}
.new-form .form-group.disabled{background-color:#e5e5e5}
.new-form .form-group a{position:relative;z-index:9;padding:4px 0}
/*New Contact From Design End*/


/***/
.btn-big{padding-left:50px;padding-right:50px;}


/* Main CSS */
.login{background-color:#264359;}
.login-logo{margin-top:50px;}
.login-container{background-color:#fff;width:680px;height:590px; margin:100px auto 30px;box-shadow:0 0px 20px rgba(0,0,0,0.4);padding:20px 15px;position:relative;border-radius:2px;}
/*.login-image{position: absolute;height: 600px;width: 100%;margin-top: -20px;background:url(../images/login-img.jpg) no-repeat center center;background-size:cover;border-radius:0px 2px 2px 0px;overflow:hidden}*/
.login-content{/*height:600px;*/width:80%;margin:0 auto;}
/*.mask-bg-img{position:absolute;min-width:100%;background-color:rgba(0,0,0,0.5);height:100%;padding:15px;color:#eee;}*/
.login .copyright{position:absolute;bottom:0px;font-size:11px;color:#bbb;}
.login .copyright a:hover, .login .copyright a:focus{text-decoration:underline;}

.copyright-login{background-color: #eee;width: 100%; position: absolute;padding:25px 85px;bottom: 0;left: 0;height: 70px;color:#777;border-radius:0px 0px 2px 2px;}





header{background-color:#fff;color:#333;padding-top:15px;padding-bottom:15px;box-shadow:0 1px 10px rgba(0,0,0,0.1)}
header a, header a:focus{color:#333}
.client-brand{font-weight:normal;margin-bottom:5px;margin-top:0;text-overflow: ellipsis;white-space: nowrap;max-width: 260px;overflow: hidden;font-size:24px;color:#fff;display:block}
.client-brand:hover, .client-brand:focus{color:#fff;}
.client-brand:before{content:"\f107";font: normal normal normal 14px/1 FontAwesome;position:absolute;right:0px;top:10px}
.small-text-muted{font-size:11px;color:#9aa1aa;}

.main-nav-right{margin:0;float:right;}
.main-nav-right li{float:left;}
.main-nav-right li a{padding:12px 9px}
.main-nav-right .dropdown.open .user-photo{font-weight:bold;color:#3591b3}
.main-nav-right .dropdown.open  .user-photo img{border-color:#3591b3;}
.main-nav-right.nav > li > a:hover, .main-nav-right.nav > li > a:focus {background-color:transparent;/*border-bottom:4px solid #fff;*/}
.main-nav-right.nav > li.open > a{/*border-bottom:4px solid #d0ed66;*/background-color:transparent;}
.user-photo{padding:0px !important;margin-left:5px;}
.user-photo img{border:1px solid #98a5b2;/*margin-right:5px;*/border-radius:50px;height:40px}

.user-menu{padding:0;right:0;left:auto;top: 54px;border-radius: 0 0 4px 4px;margin:0}
.user-menu li{width:100%;}
.user-menu li a, .action-nav .dropdown-menu > li > a {padding:10px 20px; border-bottom:1px solid #eee;color:#333;font-size:13px}
.user-menu li:last-child a, .action-nav .dropdown-menu li:last-child a{border:none;}

.search-bar {position:relative;width:150px;margin-right:10px;}
.search-bar input{background-color:#fff;border:none;height:40px;box-shadow:none;font-size:13px;}
.search-bar .input-group-addon{border:none;background-color:transparent;padding:6px 0px}
.select-lng {margin-top:10px;margin-right:10px;}
.select-lng a{color:#3591b3;border-radius:50px;padding:10px !important;margin:0 1px;}
.select-lng a:hover{background-color:#eee;}
.select-lng a.active{background-color:#3591b3;color:#fff;}

/*.side-menu-mask{background-color:#1d2b36;height:100%;width:270px;position:fixed;z-index:-1;top:0}*/
/*.side-nav{width:70px;float:left;position:absolute;background-color:#1d2b36;height:calc(100% - 70px);min-height:400px;padding-bottom: 48px;
}
.show-menu{width:270px;}
.nav-item {    background-color: #1d2b36;}
.nav-item, .nav-item li ul{margin:0;padding:0;}
.nav-item li{display:block;color:#656565;border-bottom:1px solid #131e26;position:relative;}
.show-menu .nav-item  li.open{width:auto;position:relative;}
.nav-item li.open > a{font-weight:bold;color:#fff;}
.nav-item li a{padding:12px 17px; display:block;color:#ddd;}
.nav-item li a.active{font-weight:bold;color:#fff;}
.nav-item li a:hover{background-color:#131e26;color:#fff}
.nav-item li a .fa{font-size:16px;width:30px;text-align:center}
.nav-item li a span.fa{position: absolute;width:10px !important; right: 10px;top: 10px;}
.side-nav .open{box-shadow:1px 1px 0px rgba(0,0,0,0.15);}
.side-nav.show-menu .open{box-shadow:none;}
.nav-item li ul li, .nav-item li ul li:hover{border:none;}
.nav-item li ul li a{padding-left:58px;border-top:1px solid #0e171d;}
.nav-item li ul li a:hover, .nav-item li a.active{background-color:#060f15;}
.nav-item li.open{background-color:#131e26;position: relative; width: 240px;z-index:2}
.nav-item li.open span.xs-hide{display:inline-block !important;}
*/	
.action-nav{border-radius:0;margin-bottom:0}
.action-nav.navbar-inverse{background-color:#264359;border:none}
.action-nav.navbar-inverse .navbar-nav > .active > a, .action-nav.navbar-inverse .navbar-nav > .active > a:hover, .action-nav.navbar-inverse .navbar-nav > .active > a:focus, .action-nav.navbar-inverse .navbar-nav > .open > a, .action-nav.navbar-inverse .navbar-nav > .open > a:hover, .action-nav.navbar-inverse .navbar-nav > .open > a:focus{background-color: #1b3447;color:#fff;}
.action-nav.navbar-inverse .navbar-nav > li > a{color:#ddd;line-height:18px;}
.action-nav.navbar-inverse .navbar-nav > li > a:hover{color:#fff;}

.action-nav.navbar-inverse .navbar-toggle:hover, .action-nav.navbar-inverse .navbar-toggle:focus{background-color:#1b3447}


.main-content{float:right;width:100%;/*transition: all 0.3s ease-out 0s;*/ padding:15px;}
.expend-content{width:calc(100% - 70px) !important;}
.page-action{margin-top:3px;}
.page-action a{float:left;padding:10px;background-color:#3591b3;border-radius:50px;width:40px;height:40px;display:block;text-align:center;line-height:24px;margin-left:10px;color:#fff;transition: all 0.3s ease-out 0s;box-shadow:0 0 15px rgba(0,0,0,0.3);}
.page-action a:hover{color:#fff;background-color:#267592;}

.title h3{color:#004b8b;font-size:32px;font-weight:normal;}
.title .breadcrumb{padding:0;margin-top:5px;margin-bottom:15px;}

.copyright-footer{position:fixed;bottom:15px;left:15px;}
.copyright-footer, .copyright-footer a{color:#60788b;font-size:12px;}
.copyright-footer a:hover{color:#3591b3;}

.table th:first-child{border-left:1px solid #e1e1e1;}
.table th, .table td {border-right:1px solid #e1e1e1;}
.table th{background-color:#f3f4f6;}
.table td{background-color:#fff;}
.table tr{border-bottom:1px solid #e1e1e1}
.table thead{border-top:1px solid #e1e1e1;}
.table > thead > tr > th{border-bottom:none}

.table a{color:#3591b3;}

.table a:hover, .table a:focus{color:#0584b3;}




/*add btn-disabled class to disbale any .btn class name buttons or anchor tags*/
.btn-disabled{pointer-events:none;opacity:0.7;cursor:not-allowed;
background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 75%, transparent 75%, transparent);
background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 75%, transparent 75%, transparent);
background-image: linear-gradient(45deg, rgba(255, 255, 255, .1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 75%, transparent 75%, transparent);
-webkit-background-size: 40px 40px;-webkit-animation: progress-bar-stripes 2s linear infinite;
-o-animation: progress-bar-stripes 2s linear infinite;
animation: progress-bar-stripes 2s linear infinite;    background-size: 40px 40px;}






.modal-content .close{background-color: #264359;    margin: 0;    height: 44px;    color: #fff;    width: 44px;    opacity: 1;line-height:0;border-radius:0px 5px 0 0}
.modal-content .close:hover{background-color:#1b3447;}
.modal-header{height: 45px;background-color: #264359;color: #fff;padding: 0px !important;border-radius:5px 5px 0 0}
.modal-header .modal-title{font-size: 18px;padding: 10px 0px 10px 15px;}
.modal-body{background-color:#f5f5f5}
/*.custom-modal .modal-header {height: 45px;    background-color: #e51837;color: #fff;padding: 0px !important;}*/
/*.custom-modal .modal-title {font-size: 18px;padding:10px 0px 10px 15px;}*/
.custom-modal .modal-dialog {height: calc(100% - 60px);}
.custom-modal .modal-content {height: 100%;}
.custom-modal .modal-footer {height: 65px;}
.custom-modal .modal-body {height: calc(100% - 110px);overflow-y: auto;background-color:#f5f5f5}
.custom-modal .modal-open .modal {overflow-y: hidden;}
.custom-modal .nav-tabs{position:relative;z-index:2;background-color: white;}
.custom-modal .panel-default>.panel-heading{background-color:#fff;}
.custom-modal .quick-bar{background-color:#fff;margin:-15px -15px 15px -15px;z-index:1;padding:15px;border-bottom:1px solid #ddd;}
.custom-modal .tab-content{position:relative;}

.list-group.permission{max-height:240px;overflow-y:auto}
.list-group.permission .checkbox{padding:0;min-height:10px;}
.list-group.permission .checkbox label{min-height:0}
.list-group.permission .list-group-item{padding:5px 10px 5px 30px;}
.list-group.permission .list-group-item.title{padding:5px 10px 5px 10px;}
.list-group.permission .list-group-item.title label{font-weight:bold}

.selected-permission{border:1px solid #ccc;background-color:#fff;padding:5px;border-radius:5px;margin-bottom:10px;}
.selected-permission span{background-color:#3591b3;font-size:11px;font-weight:normal}


.layout-filter{width:320px;float:left;position:relative;}
.layout-filter h5{background-color:#1d2b36;color:#fff;margin:0;padding:12px 15px;}
.layout-filter .hide-panel{color:#fff;float:right;font-size:11px;margin-top:2px;}
.layout-filter .hide-panel:hover{text-decoration:underline}
.layout-filter .panel-title > a{font-size:13px;font-weight:600;color:#264359;display:block;padding:10px 15px;}
.layout-filter .panel-group .panel{border-radius:0;margin:0}
.layout-filter .panel-default > .panel-heading{padding:0;border-radius:0}
.layout-filter .form-group:last-child{margin-bottom:0}
.layout-filter .form-group input[type=range]{box-shadow:none;}

.show-panel{background-color:#1d2b36;color:#fff;padding:10px 15px;position:absolute;left:0}
.show-panel:hover, .show-panel:focus{color:#fff;}


.layout-content{float:right;width:calc(100% - 320px);}

.big-collapse{width:1000px;background-color: white;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;position:relative;z-index:99;box-shadow:0 2px 12px rgba(0,0,0,0.1);}
.big-collapse table td, .big-collapse table th{    white-space: nowrap;}
.table-input input[type=text], .table-input select{width: 100%;min-width: 50px;border:none;height:100%;}
.table-input select{min-width:80px;}
.table-input input[type=text]:focus, .table-input select:focus{box-shadow:none;outline:none;}

.filter-action{background-color:#fff;border:1px  solid #ddd;margin-bottom:5px;}
.tab-action{border-top:1px solid #ddd;padding-top:15px;}
.dynamic-table tr{cursor:pointer}
.dynamic-table tbody tr:hover td{background-color:#f9fafc;font-weight:500;color:#000}



.nav-tabs > li > a{font-size:14px;font-weight:bold;color:#777;background-color:transparent;border:none;border-bottom:4px solid transparent;padding-bottom:7px;}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus{background-color:transparent;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{color:#264359;background-color:transparent;border:none;border-bottom:4px solid #264359}



.ul-list{margin:0;padding:0;/*word-break:break-all;*/}
.ul-list:after { clear:both;display: table;	content: " ";} 
.ul-list li{display:block;clear:both}
.ul-list-text{font-weight:600;float:right;width:70%;word-break: break-word;}
.ul-list label{float:left;width:30%;font-weight:400;margin-bottom:0;word-break: break-word;}

.popup{background-color:rgba(0,0,0,0.5);width:100%;height:100%;position:fixed;z-index:9999;}
.customer-info{border-right:1px solid #ddd;padding-right:15px;margin-right:5px;}
.customer-info span{font-weight:normal}
.customer-info label{margin-left:20px;}


/*.tab-filter{background-color:#fff;margin:-15px;border-left:1px solid #ddd;border-right:1px solid #ddd;}
.tab-filter h5{margin:0;padding:10px 15px;background-color:#eee;border-bottom:1px solid #ddd;}
.tab-filter .content{border-bottom:1px solid #ddd;padding:10px 15px;}

*/

@media (max-width: 1199px) {

}
@media (max-width: 991px) {
.login-container{max-width:90%;}
.sm-hide{display:none;}
/*.page-action .search-bar{width:200px;}*/

.big-collapse{width:760px;}
.ul-list-text{width:100%;}
.ul-list label{width:100%;}
}

@media (max-width: 991px) and (min-width: 768px) {
	

}
@media (min-width: 767px) {
.no-padding-sm{padding:0 !important;}
}
@media (max-width: 767px) {

.text-left-xs{text-align:left;}
.top-buffer-10-xs{margin-top:10px;}
.top-buffer-20-xs{margin-top:20px;}
.no-margin-top-xs{margin-top:0 !important;}
.xs-display-none{display:none}
.pull-left-xs-only{float:left;}
.top-buffer-250-xs{margin-top:250px;}
.xs-show{display:block;}
.left-buffer-5-xs{margin-left:0px;}
.no-margin-bottom-xs{margin-bottom:10px;}
.xs-display-none{display:none}
.xs-hide{display:none !important;}
.pull-right-xs, .pull-left-xs{float:none;}

.login-container{width:90%;}

#quick-action{display:none;}
#quick-action-sm{display:block !important;}
.copyright-footer{display:none;}

.layout-filter{width:240px;}
.layout-content{width:calc(100% - 240px);}

.big-collapse{width:640px;}

}

@media (max-width: 479px) {
.cu-hide{display:none !important;}
.col-cu-12, .col-cu-11, .col-cu-10, .col-cu-9, .col-cu-8, .col-cu-7, .col-cu-6, .col-cu-5, .col-cu-4, .col-cu-3, .col-cu-2, .col-cu-1{position: relative;	min-height: 1px;	padding-right: 15px;	padding-left: 15px;	width:100%;}
.col-cu-11{width:91.63%}
.col-cu-10{width:83.3%}
.col-cu-9{width:74.97%}
.col-cu-8{width:66.64%}
.col-cu-7{width:58.31%}
.col-cu-6{width:49.98%;}
.col-cu-5{width:41.65%}
.col-cu-4{width:33.32%}
.col-cu-3{width:24.99%}
.col-cu-2{width:16.66%}
.col-cu-1{width:8.33%}
.no-margin-cu{margin:0;}
.padding-top-cu-15{padding-top:15px;}
.padding-top-bottom-15-cu{padding-bottom:15px;padding-top:15px;}
.no-padding-cu {padding:0;} 
.pull-right-cu, .pull-left-cu{float:none;}
.text-center-cu{text-align:center;}



}